.form {
    display: flex;
    flex-direction: column;
}

mat-card {
    padding: 15px;
}

.button button{
    margin-right: 15px;
}

.title {
    margin-bottom: 10px;
}

input:disabled {
    color: #323232;
}